.filters {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);
}

.filters__item {
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.filters__item__header {
    font-size: 0.75rem;
    color: #4a4a4a;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px;
}

.filters__item__content {}
